/* HTML5 Number polyfill | Jonathan Stipe | https://github.com/jonstipe/number-polyfill*/
div.number-spin-btn-container {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  position: relative;
  vertical-align: bottom;
  margin: 0 0 0 1px;
  padding: 0; }

div.number-spin-btn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
  border-color: #ddd #bbb #999;
  border-style: solid;
  background: #ffffff;
  background: -moz-linear-gradient(top, white 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, white 0%, #dddddd 100%);
  background: -o-linear-gradient(top, white 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, white 0%, #dddddd 100%);
  background: linear-gradient(to bottom, white 0%, #dddddd 100%);
  color: #333;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
  font-size: 11px;
  padding: 0;
  text-align: center;
  width: 1.5em; }
  div.number-spin-btn:hover {
    cursor: pointer; }
  div.number-spin-btn:active {
    border-width: 1px;
    border-color: #5e5e5e #d8d8d8 #d8d8d8 #5e5e5e;
    border-style: solid;
    background-color: #999999; }

div.number-spin-btn-up {
  border-bottom-width: 1px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px; }
  div.number-spin-btn-up:active {
    border-bottom-width: 1px; }

div.number-spin-btn-down {
  border-top-width: 1px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px; }
  div.number-spin-btn-down:active {
    border-top-width: 1px; }

input:disabled + div.number-spin-btn-container > div.number-spin-btn-up:active, input:disabled + div.number-spin-btn-container > div.number-spin-btn-down:active {
  border-color: #ededed #777777 #777777 #ededed;
  border-style: solid;
  background-color: #cccccc; }
input:disabled + div.number-spin-btn-container > div.number-spin-btn-up:before, input:disabled + div.number-spin-btn-container > div.number-spin-btn-up:active:before {
  border-bottom-color: #999999;
  top: 25%;
  left: 50%; }
input:disabled + div.number-spin-btn-container > div.number-spin-btn-down:before, input:disabled + div.number-spin-btn-container > div.number-spin-btn-down:active:before {
  border-top-color: #999999;
  top: 75%;
  left: 50%; }
